@media screen and (max-width: 1024px){
    /* home */
    .homeContainer{
        flex-direction: column;
    }

    .homeItems{
        width: 100%;
        text-align: center;
    }
    
}  
    
    @media screen and (max-width: 768px){
    
    /* menu */
    .menu{
        flex-direction: column;
    }

    .menuLinks{
        margin-top: 30px;
    }

    /* home */
    .homeContainer{
        flex-direction: column;
    }

    .homeItems{
        width: 100%;
        text-align: center;
    }



    /* section portfolio */
    .portfolioContainer, .pagePortfolioContainer{
        flex-direction: column;        
        
    }
    .portfolioItems, .pagePortfolioItems{
        width: 100%;
    }
    

    

    /* sobre */
    .sobreContainer{
        flex-direction: column;        
        width: 100%;           
    }
    .sobreItems{
        width: 70%;
        margin: 18px auto;
        padding: 36px;    
    }


    /* contato */
    #product{
        padding: 10px;
    }
    .productContainer {
        display: flex;
        flex-direction: row;
    }  

    .contatoItemsCentered{
        width: 80%;
        margin: 0 auto;
    }

    /* Produto */
    .productContainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 200px 10px;
    }

    .productItems {
        width: 100%;
        text-align: center;
    }

    .pageProductContainer {
        flex-direction: column;
        text-align: center;
    }
    .pageProductItems {
        width: 100%;
    }
    .pageProductItems p {
        margin-bottom: 36px;
    }
    .aboutartContainer {
        text-align: center;
    }
}





@media screen and (max-width: 480px){

    /* menu */
    .menu{
        flex-direction: column;
    }
    .menuLinks{
        margin-top: 30px;
    }

    /* home */
    .homeContainer{
        flex-direction: column;
    }
    .homeItems{
        width: 100%;
        text-align: center;
        padding: 170px 72px;
    }

    /* portfolio */

    .portfolioContainer{
        flex-direction: column;
    }

    .portfolioItems{
        width: 100%;
    }

    
    /* sobre */
    .sobreContainer{
        flex-direction: column;        
        width: 100%;           
    }
    .sobreItems{
        width: 100%;
        margin: 18px auto;
        padding: 36px;    
    }

    /* contato */

    .contatoContainer {
        flex-direction: column;
    }
    .contatoItemsCentered{
        width: 100%;
        margin: 0 auto;
    }

    /* Produto */
    .productContainer {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 200px 10px;
    }

    .productItems {
        width: 100%;
        text-align: center;
    }

    .pageProductContainer {
        flex-direction: column;
        text-align: center;
    }
    .pageProductItems {
        width: 100%;
    }
    .pageProductItems p {
        margin-bottom: 36px;
    }
    .aboutartContainer {
        text-align: center;
    }
 


}

