/*#region product*/
    .productContainer {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding: 200px 10px;
    }
    .productItems {
        width: 50%;
    }

    .productItems img {
        width: 100%;
        margin: auto;
        padding: 0 50px;
       
    }
    .info h1{
        margin-bottom: 10px;
    }

    .info h2{
        margin-bottom: 10px;
    }

    .stars{
        margin-bottom: 30px;
    }

    .info p{
        margin-bottom: 30px;
    }
    .checked {
        color: orange;
      }
    
/*#endregion product*/



/*#region aboutart*/

    #aboutart{
        padding: 72px;
        background-color: #f1f1f1;
    }

    .aboutartContainer h2{
        margin-bottom: 10px;
    }

/*#endregion aboutart*/



/*#region materials*/

    table{
        font-size: 0.6cm;
        border-collapse: collapse;
        width: 800px;
    }

    td{
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
     }

     .materials {
        padding: 50px 0;
     }
/*#endregion materials*/



